
  /* Estilo cuando el bot칩n con ID 'translate' est치 activo */
  #translate.active {
    filter: invert(42%) sepia(44%) saturate(3116%) hue-rotate(165deg) brightness(99%) contrast(104%); /* Oscurece el icono al presionar */
  }

  #translate:hover {
    filter: invert(42%) sepia(10%) saturate(3116%) hue-rotate(165deg) brightness(99%) contrast(104%); /* Color de fondo para hover, un celeste m치s suave */
  }

  #dark-mode.active {
    filter: invert(42%) sepia(44%) saturate(3116%) hue-rotate(165deg) brightness(99%) contrast(104%); /* Oscurece el icono al presionar */
  }

  #dark-mode:hover {
    filter: invert(42%) sepia(10%) saturate(3116%) hue-rotate(165deg) brightness(99%) contrast(104%); /* Color de fondo para hover, un celeste m치s suave */
  }
  