html {
    scroll-behavior: smooth;
  }

.name {
    background: linear-gradient(to right, #8AC9C6, #0D928B);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

/* src/styles/main.css */
.custom-bg {
    background-color: #4B4CC3; /* Color de fondo personalizado */
}

.custom-hover:hover {
    background-color: #6263E7; /* Color de hover personalizado */
}


  
/********************   QUIEN SOY?   **************************/

.parrafo {
  max-width: 50vw;
  height: 150px;
}

#pregunta {
  /*color: #0D928B;*/
  font-family: sans-serif;
  font-size: 50px;
}

.text-5xl {
  line-height: none;
}

.custom-text-5xl {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: none;
  /* Add any other properties from the text-5xl class here */
  line-height: normal; /* Sobrescribe line-height */
}

.Escritura {
  color: #0D928B;
  font-size: 50px;
}

.separacion {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 30px;
}

/***********  proyectos  ************/

.puntos-proyecto {
  fill: #4B4CC3;
  margin-left: 30%;
  margin-right: 30%;
}

.images{
  border-radius: 10px;
  width: 420px;
  height: auto;
  object-fit: cover; /* Cubre el contenedor, cortando partes de la imagen si es necesario */
  display: block;
}

.imagesA{
  border-radius: 10px;
  width: 334px;
  height: auto;
  object-fit: cover; /* Cubre el contenedor, cortando partes de la imagen si es necesario */
  display: block;
}

.titulo-proyectos{
  font-weight: bolder;
}

#tituloERP{
  color: #A8739C;
}

#tituloNG{
  color: #4B4CC3;
}

#titulo-proyecto{
  background: linear-gradient(to right, #4B4CC3, #A8739C);
  display: inline-block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 1000px;
}

.it-icons{
  width: auto;
  height: 50px;
}

#contenedor-erp{
  width: 420px;
  height: 192px;
}

#contenedor-alphanex{
  width: 451px;
  height: 192px;
}

#contenedor-alphanex-arriba{
  display: flex;
  gap: 40px;
  padding-top: 20px;
  margin-left: 15%;
}


#contenedor-alphanex-abajo{
  margin-top: 40px;
  margin-left: 15%;
}


#contenedor-erp-arriba{
  display: flex;
  padding-top: 20px;
  gap: 20px;
  margin-left: 15%;
}

#contenedor-erp-abajo{
  display: flex;
  padding-top: 40px;
  gap: 40px;
  margin-left: 15%;
}


/******* otros trabajos ********/

.slick-slide > div {
  margin: 0 10px;
}

.slick-prev:before, .slick-next:before {
  color: #9E9E9E !important; /* Nuevo color con !important */
}

.cuadros{
  background-color: rgba(97, 183, 178, 0.5);
}

.lenguaje{
  color: #61B7B2;
}

.link{
  gap: 5px;
}


/********************   END   **************************/

#contactame{
  color: #53C2BD;
  font-size: 35px;
  margin-bottom: 5%;
  font-weight: 500;
  margin-top: 2%;
}


#cuerpo-final{
  gap: 20px;
}

#cuadro-correo{
  background-color: #53C2BD;
  border-radius: 20px;
  padding: 15px;
  margin-top: 5px;
}

#correo{
  color: white;
  font-size: 35px;
  text-align: center;
  font-weight: 700;
}

#cuadro-repo{
  margin-top: 5%;
}

#link-repo{
  color: #9E9E9E;
}

.link-repo-g{
  gap: 5px;
}